.admin-events {
    &__actions {
        margin-bottom: 16px;
        display: flex;
        justify-content: flex-end;
        gap: 8px;
        flex-wrap: wrap;
    }

    .ant-table {
        background: #fff;
    }
}

